workflows/AI-Resume-Job-Title-Extractor-with-Google-Gemini.json
{
  "updatedAt": "2026-04-11T10:10:51.852Z",
  "createdAt": "2026-04-10T15:14:31.924Z",
  "id": "resume-analyser-workflow",
  "name": "AI-Resume-Job-Title-Extractor-with-Google-Gemini",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/Navneet-Resume.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        48,
        -608
      ],
      "id": "c337df28-cd6e-4411-ad84-12b33356c957",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        256,
        -608
      ],
      "id": "7208b89a-301d-4bac-b73c-9a6e9f02977b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "338084ba-f9f9-4f26-85d2-7b37d7853aa8",
              "name": "text",
              "value": "={{ $('Extract from File').item.json.text }}",
              "type": "string"
            },
            {
              "id": "c3571360-cfaa-4bd1-ad17-f25106799a3b",
              "name": "content_parts",
              "value": "={{ $json.content.parts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -608
      ],
      "id": "5a32f956-b316-4a28-b50f-c25ec8f328f4",
      "name": "Return"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "2261e908-c791-46e0-ab38-a042ee2f9a1b",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -160,
        -608
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemma-4-31b-it",
          "mode": "list",
          "cachedResultName": "models/gemma-4-31b-it"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse the resume text: {{ $json.text }}.\n\nIdentify the current job title.\nOutput ONLY a single search string."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        464,
        -608
      ],
      "id": "e3bcb3c5-816d-41ad-bb53-2d07e13ddbe1",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "uPsOLnVzawUpCd9q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "82bded49-5c39-4b5d-9ab6-fc1a40aba48a",
  "activeVersionId": "82bded49-5c39-4b5d-9ab6-fc1a40aba48a",
  "versionCounter": 32,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-10T15:14:31.924Z",
      "createdAt": "2026-04-10T15:14:31.924Z",
      "role": "workflow:owner",
      "workflowId": "resume-analyser-workflow",
      "projectId": "gWkPS3Yo6L03U87I",
      "project": {
        "updatedAt": "2026-04-10T15:07:46.566Z",
        "createdAt": "2026-04-10T15:01:49.389Z",
        "id": "gWkPS3Yo6L03U87I",
        "name": "Navneet Singh Arora <navneetsingh790@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fd932e6f-0271-41b5-9363-6f2454ac13dc"
      }
    }
  ],
  "versionMetadata": {
    "name": "Job-Title-Extractor-From-Resume",
    "description": "The Workflow analyses the Resume and Extracts the Job Title from it. It can be used to search jobs in an Automated manner."
  }
}