workflows/Resume-Analyser.json
{
  "id": "resume-analyser-workflow",
  "name": "Resume-Analyser",
  "nodes": [
    {
      "parameters": {
        "info": "",
        "operation": "read",
        "fileSelector": "/home/node/.n8n-files/User-Resume.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        48,
        -608
      ],
      "id": "c337df28-cd6e-4411-ad84-12b33356c957",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        256,
        -608
      ],
      "id": "7208b89a-301d-4bac-b73c-9a6e9f02977b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "text": "=Analyse the resume text: {{ $json.text }}.\n\nIdentify the user's current job title.\nOutput ONLY a single search string.",
        "inputType": "url",
        "documentUrls": "",
        "simplify": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        464,
        -608
      ],
      "id": "e3bcb3c5-816d-41ad-bb53-2d07e13ddbe1",
      "name": "Analyze document"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "338084ba-f9f9-4f26-85d2-7b37d7853aa8",
              "name": "text",
              "value": "={{ $('Extract from File').item.json.text }}",
              "type": "string"
            },
            {
              "id": "c3571360-cfaa-4bd1-ad17-f25106799a3b",
              "name": "content_parts",
              "value": "={{ $json.content.parts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -608
      ],
      "id": "5a32f956-b316-4a28-b50f-c25ec8f328f4",
      "name": "Return"
    },
    {
      "id": "2261e908-c791-46e0-ab38-a042ee2f9a1b",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -160,
        -608
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    }
  ],
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  }
}